.main-window {
  background-color: rgb(100, 100, 100);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stage {
  overflow: auto;
  background-color: rgb(185, 185, 185);
  border-radius: 1%;
  height: 95%;
  width: 95%;
}

.sql-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sql-input input {
  margin-bottom: 10px;
  padding: 10px;
  width: 1050px;
  height: 40px;
  font-size: 25px;
}
