.table-container {
  overflow: auto;
  background-color: rgb(170, 170, 170);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(94, 93, 93);
}

th,
td {
  border: 1px solid #000000;
  padding: 2px;
  font-size: 13px;
}

th {
  background-color: #000000;
  position: sticky; /* Make the header sticky */
  top: 0;
  z-index: 0.01; /* Ensure the header is above the table body */
}

.header-cell {
  font-size: 0.8em;
  cursor: pointer;
}

.header-cell:hover {
  font-size: 0.83em;
}
