.table-container {
  overflow: auto;
  background-color: rgb(170, 170, 170);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(170, 170, 170);
}

th,
td {
  border: 1px solid #000000;
  padding: 2px;
  font-size: 13px;
}

th {
  background-color: #000000;
  text-align: left;
}
