html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 99vw;
}

.app-container > :nth-child(1) {
  flex: 0 0 auto;
  width: 10px;
}

.app-container > :nth-child(2) {
  flex: 0 0 20%;
  background-color: RGB(148, 148, 148);
}

.app-container > :nth-child(3) {
  flex: 0 0 77.6%;
}
