.small_panel {
  padding: 20px;
  position: relative;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-upload {
  display: none;
}

.sql-icon-label {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.settings-icon-label {
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.excel-icon-label {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.upload-icon-label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  font-size: 25px;
  color: #007afc;
}

.icon:hover {
  cursor: pointer;
  color: #0056b3;
}
